@model IEnumerable<BookListMVC.Models.Book>
@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Book List</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Create New</a>
</p>

@if (Model.Count() > 0)
{
    //display all books
}
else
{
    <div>
        No Books Exists.. Please add new book
    </div>
}
